.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  background-color: whitesmoke;
}

.row {
  display: flex;
}

.header {
  justify-content: center;
  width: 260px;
  height: 40px;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #006400;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 520px;
  height: 520px;
  border: 10px #006400 solid;
}

.board__row {
  display: flex;
  width: 500px;
  height: 25px;
}

.grid {
  width: 25px;
  height: 25px;
}

.grid__odd {
  background-color: #43ff6b;
}

.grid__even {
  background-color: #32cd32;
}

.grid__snake__head {
  background-color: red;
}

.grid__snake__body {
  background-color: #f60;
}

.grid__food {
  background-color: pink;
}

.controller {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column;
}

.btn {
  display: block;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #f1c40f;
  border: 1px double #fff;
  border-radius: 4px;
}

.btn__center {
  justify-content: center;
  width: 174px;
  height: 100%;
}

.btn__side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 100%;
}

.btn:hover {
  opacity: 0.8;
}

.btn__gamestatus {
  width: 520px;
}

.btn__stop {
  background-color: blue;
}

.btn__playing {
  background-color: coral;
}

.btn__clear {
  background-color: deepskyblue;
}

.btn__over {
  background-color: red;
}
