.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  background-color: whitesmoke;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 504px;
  height: 504px;
  border: 2px #006400 solid;
}

.row {
  display: flex;
  width: 500px;
  height: 25px;
}

.grid {
  width: 25px;
  height: 25px;
}

.grid__odd {
  background-color: #43ff6b;
}

.grid__even {
  background-color: #32cd32;
}
